<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--Añadir appSettings-->
	<appSettings>
		<!--Ruta de los FTP, añadir el destino de los FTPs. eje: "D:\Origen\"-->
		<add key="ftpOriginRoute" value="sftp://ullr.mrw.es/Naturitas00691/PruebasPablo/Gyursel/Origen/"/>
		<add key="ftpDestinationRoute" value="sftp://ullr.mrw.es/Naturitas00691/PruebasPablo/Gyursel/Destino/"/>
		<!--Usuario-->
		<add key="ftpUsername" value="Naturitas00691"/>
		<add key="ftpPassword" value="VRmiKdh8c1"/>
		<!--Huella digital-->
		<add key="sshHostKeyFingerprint" value="ssh-rsa 2048 3Ck4HOWcSsxwgC+qmSu/KywHbUejBJc6sPZRTTqjvbE"/>
		<!--Puerto-->
		<add key="portOrigin" value="22"/>
		<add key="portDestination" value="22"/>
	</appSettings>
</configuration>